
  <script type="text/ng-template" id="TrackModalContent.html">
        <div class="modal-header">
        <button class="close" ng-click="cancel()">×</button>
            <h4 class="modal-title"><b>Tracking Details</b></h4>
        </div>
        <div class="modal-body">
        <h5><b>Tracking Number:</b> {{TrackId}}</h5>
        <button  class="button golden-bg" ng-click="track()"><b>Track Your Shipment</b></button>
        </div>
        <div class="modal-footer">
        </div>
    </script>
