  <script type="text/ng-template" id="forgotpasswordmodal.html">
  <div class="modal-header">
        <button class="close" ng-click="cancel()">×</button>
            <h3 style="color:#162643;">Find Your Account</h3>
        </div>
        <div class="modal-body">
       <form  ng-submit="sendVerificationLink()">
              
               
                  <div style="padding-left:5px">
                    <label class="bs-callout labelStyle" ng-show="inprogress">We are sending mail to {{temporaryEmail}}...</label>

                    <label class="bs-callout labelStyle" style="padding-left:10px;background-color:#dff0d8" ng-show="sentEmail">We have successfully sent an mail to <b>{{temporaryEmail}}</b>
                    </label>
                    
                    <label ng-show="invalidEmail" class="bs-callout-red labelStyle" style="padding-left:10px;background-color:#dff0d8">This Email is not valid</label>
                  </div>
                <div class="inner-container login-panel">
                
                  <form id="reset_form" name="reset_form">
            
                        <input style="padding-left:10px;width:50%" type="email" id="email" name="email" class="form-control" placeholder="Email" ng-model="reset.email" required>
                        <input type="submit" id="reset" name="submit" value="SEND" class="golden-bg">

                   </form>

        </div>
        
    </script>
