<div class="kl-slideshow static-content__slideshow nobg maskcontainer--mask3 ">
			<div class="bgback">
			</div>
			<div class="kl-slideshow-inner static-content__wrapper static-content--height min-820">
				<div class="static-content__source ">
					<div class="kl-bg-source">
						<div class="kl-bg-source__bgimage" style="background-image:url(images/people-690548.jpg);background-repeat:repeat;background-attachment:scroll;background-position-x:center;background-position-y:center;background-size:cover">
						</div>
						<div class="kl-bg-source__overlay" style="background-color:rgba(0,0,0,0.2)">
						</div>
					</div>
					<div class="th-sparkles">
					</div>
				</div>
				<!-- /.static-content__source -->
				<div class="static-content__inner container ptop-80">
					<div class="kl-slideshow-safepadding sc__container " style="padding-top:0px">
						<div class="static-content default-style static-content--with-login">
							<div class="row">
							<!-- 	<div class="col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-0">
									<h2 class="static-content__title">HEY THERE!</h2>
									<h3 class="static-content__subtitle"><span class="fw-thin">This is Kallyas Theme, <span class="fw-semibold">an epic and wonderful premium</span> piece of work, for the typical modern website.</span></h3>
								</div>  -->
								<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
									<div class="fancy_register_form">
										<h4 style="text-align:center">Create <strong>your account</strong> now</h4>
										<form name="register"  class="th-register-form register_form_static form-horizontal " ng-submit="userRegister()">
											<div class="form-group">
												<label class="col-sm-4 control-label" for="user_login" style="color:black">First Name</label>
												<div class="col-sm-8">
													<input type="text" name="user_login" id="user_fname" class="form-control inputbox" required placeholder="First name" ng-model="user.first_name">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-4 control-label" for="user_login"  style="color:black">Last Name</label>
												<div class="col-sm-8">
													<input type="text" name="user_login" id="user_lname" class="form-control inputbox"   placeholder="Last name" ng-model="user.last_name">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-4 control-label" for="user_email"  style="color:black">Email</label>
												<div class="col-sm-8">
													<input type="text" name="user_email" id="user_email" class="form-control inputbox required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Ex: xyz@gmail.com" required placeholder="Your email" ng-model="user.email">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-4 control-label" for="user_email"  style="color:black">Mobile Number</label>
												<div class="col-sm-8">
													<input type="text" name="user_email" id="user_mobile" class="form-control inputbox required" minlength="10" maxlength="10" pattern="[0-9]{10}" title="Ex:9845830694" required placeholder="Your Mobile Number" ng-model="user.phone_number">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-4 control-label" for="user_password"  style="color:black">Your password</label>
												<div class="col-sm-8">
													<input ng-change="validatePassword('user_password')" type="password" name="user_password" id="user_password" class="form-control inputbox" required placeholder="Your password" ng-model="user.password">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-4 control-label" for="user_password2"   style="color:black">Verify password</label>
												<div class="col-sm-8">
													<input type="password" ng-change="validatePassword('user_password2')" name="user_password2" id="user_password2" class="form-control inputbox" required placeholder="Verify password" ng-model="user.cpassword">
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-8 col-sm-offset-4" style="margin-bottom:0;">
													<input type="submit" name="submit" class="zn_sub_button btn btn-fullcolor th-button-register golden-bg-clr " value="REGISTER">
												</div>
											</div>
											<div class="th-response" style="display: none;">
											</div>
											<input type="hidden" value="register" name="zn_form_action">
											<input type="hidden" value="zn_do_login" name="action">
											<input type="hidden" value="/demo/kwp/static-content-text-with-register/" class="zn_login_redirect" name="submit">
											<div class="links">
											</div>
										</form>
									</div>
								</div>
								<!-- end section right -->
							</div>
							<!-- end row -->
						</div>
						<!-- end static content -->
					</div>
					<!-- /.container -->
				</div>
				<!-- /.static-content__inner -->
			</div>
			<!-- /.static-content__wrapper -->
			<div class="kl-bottommask kl-bottommask--mask3">
				<svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <defs>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
				            <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
				            <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
				            <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
				            <feMerge>
				                <feMergeNode in="SourceGraphic"></feMergeNode>
				                <feMergeNode in="shadowMatrixInner1"></feMergeNode>
				            </feMerge>
				        </filter>
				    </defs>
				    <path d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#f5f5f5"></path>
				</svg>
			    <i class="glyphicon glyphicon-chevron-down"></i>
		    </div>
		</div>