<div style="position:fixed;width:100%;height:100%; z-index:999999999;" >
	<img src="assets/images/entryImages/bg1.jpg" style="position:fixed;z-index:1;height:100%;width:100%"/>
	<div class="row">
	<img src="assets/images/entryImages/logo.png" style="position: absolute;z-index:2; margin:auto; width:35%;display:block;left:0;right:0;top:20%;"/>
	</div>
	<div class="row">
	<img src="assets/images/entryImages/writtenbook.png" class="img-responsive figure" style="position: absolute;z-index:2; margin:auto; width:10%;display:block;left:0;right:0;top:54%;" ng-click="onEnter()"/>
	</div>

</div>
	 