<footer id="footer" style="padding-top:0px !important">
            <div class="container">
               <!--  <div class="row" style="margin-bottom:20px">
                    <br class="visible-xs" />
                    <div class="col-sm-2 col-md-4">
                      <div>
                            <h3 class="title m_title"> <b>Help and Support</b></h3>
                            <div class="sbs">
                                <ul class="menu">
                                    <li><a href="" class="Uppercase">Customer Services</a></li><br>
                                    <li><a ui-sref="contact_us" class="Uppercase">Contact Us</a></li><br>
                                    <li><a ui-sref="bulkorder" class="Uppercase">Enquiry for Bulk Orders</a></li><br>
                                </ul>
                            </div>
                        </div> 
						
                    </div>
                    <br class="visible-xs" />
                    <div class="col-sm-2 col-md-4">
                          <div>
                            <h3 class="title m_title"> <b>Shipping and Delivery</b></h3>
                            <div class="sbs">
                                <ul class="menu">
                                    <li><a href="" class="Uppercase">Shipping Policy</a></li><br>
                                    <li><a href="" class="Uppercase">Delivery Policy</a></li><br>
                                    <li><a href="" class="Uppercase">Track your order</a></li><br>
                                    <li><a href="" class="Uppercase">Return and Refund Policy</a></li><br>
                                </ul>
                            </div>
                        </div> 
                    </div>
                    <br class="visible-xs" />
                    <div class="col-sm-2 col-md-4">
                        <div>
                            <h3 class="title m_title"> <b>Legal</b></h3>
                            <div class="sbs">
                                <ul class="menu">
                                    <li><a href="" class="Uppercase">Legal Disclaimer</a></li><br>
                                    <li><a href="" class="Uppercase">Privacy Policy</a></li><br>
                                    <li><a href="" class="Uppercase">Terms and Conditions</a></li><br>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div> -->
                <!-- end row -->
          <!--       <div class="row">
                    <div class="col-sm-6">
                    
                    </div>
                       
                    </div>

                </div> -->
                <!-- end row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bottom clearfix" style="border-top: 0px">
                            <ul class="social-icons sc--clean clearfix">
                                <li class="title">GET SOCIAL</li>
                                <li>
                                    <a href="#" target="_self" class="icon-facebook" title="Facebook"></a>
                                </li>
                                <li>
                                    <a href="#" target="_self" class="icon-twitter" title="Twitter"></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="icon-google" title="Google Plus"></a>
                                </li>
                            </ul>
                            <div class="copyright">
                           
								<p><a>© 2016 All rights reserved. Puliani Law Books</a>.</p>
                            </div>
                            <!-- end copyright -->
                        </div>
                        <!-- end bottom -->
                    </div>
                </div>
                <!-- end row -->
            
        </footer>
        <!-- end footer -->