
.about-us-text{
	
	font-size:14px;
	letter-spacing:1px;
	text-align:center;
}

.about-us-heading{
	
	text-align:center;
	margin:50px 0 20px 0;
	font-family:old_londonregular;
	color: #dd9c25;
    font-size: 45px;
}