
    <div ng-show="isValidLink"  style="padding-top:100px;padding-bottom:20px" class="row">

      <div class="col-sm-3">
      </div>

      <div class="col-sm-6">
      <div class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-body">
                 <div class = "panel-heading">
                    <h3> Reset Password
                    </h3>
                 </div>
          	 <div class="form-group">
       		   	 <label class="col-sm-4 control-label">Password</label>
        		 <div class="col-sm-8">
          			<input type="password" class="form-control" ng-model="password.password"  placeholder="Password">
    		    </div>
    		  </div>

    		  	<div style="padding-top:25px" class="form-group">
       			 <label  class="col-sm-4 control-label">Confirm Password</label>
        		 <div class="col-sm-8">
          			<div><input type="password" class="form-control" ng-model="password.confirmPassword"  placeholder="ConfirmPassword">
                </div>
                <div>
                <label ng-show="isPasswordMatch === false" style="color:red">password are not matching</label>
                </div>
    		    </div>
    		  </div>

    		  <div style="padding-top:25px" class="pull-right">
    		    <button type="button" class="btn btn-primary" ng-click="resetPassword()">
                Reset Password
            </button>
    		  </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-sm-3">

    </div>
    </div>

    <div ng-show="!isValidLink" style="padding-top:100px;padding-bottom:100px" class="row">
            <div class="col-sm-3">
      </div>

      <div class="col-sm-6">
      <div class="panel-group">
        <div class="panel panel-danger">
          <div class="panel-body">
                 <div class = "panel-heading">
                    <h3> Token Expired
                    </h3>
                 </div>
        
        </div>
      </div>
    </div>
    </div>
    <div class="col-sm-3">

    </div>
    </div>